In [3]:
>>> 1+2+3+5+6

17

In [4]:
>>> 3/1.5

2.0

In [5]:
>>> (9+8)*2

34

In [6]:
 >>> 4.7598908/677

0.007030857902511079

In [7]:
 >>> 4.322/7

0.6174285714285714

In [8]:
>>> 5//2

2

In [9]:
>>> 7%2

1

In [10]:
2**3

8

In [11]:
>>> abs(-4.545)

4.545

In [12]:
>>> abs(98)

98

In [13]:
>>> min(9,-92,23,34)

-92

In [15]:
>>> max(1,2,3,4,5,6,7)

7

In [16]:
>>> (1+3+4+5+6)

19

In [18]:
>>> (23+19+31)/3

24.333333333333332

In [19]:
>>> 73**403

8300660062702479772520344576491570163775543765527932546678448546666282928020817022362406214407663746671225147364180131305904189224658900975718186510412935464672990865588619293393285358288273877269862158764714482355375185545559819655365111266368259681991461390101235616107911042132500402677499576770657032179070195385428785981355324386908278139633671128404902702246254338174732855057305664259117942853751750941535686544022364012531267185265612688913388029173881376293160365670262144752808534846772227407583575229301499123443065744046005574736619601539139027636144571610289014673660151595528340738780752218138648422726270536522587426932715716270436333110741219244428900331401912730313031182541776664090521150529959625222430826015646172993851415478037017

In [20]:
>>> 403//73

5

In [21]:
2**10

1024

In [22]:
>>> (abs(57)-abs(54))

3

In [24]:
>>> min(30.8,27.99,36.98)

27.99

In [25]:
>>> 3>2

True

In [26]:
>>> 7-1 >6-2

True

In [27]:
>>> 4+5<2+2

False

In [29]:
>>> 4!=3

True

In [30]:
>>> 3+5==4+4

True

In [33]:
>>> (31)/2

15.5

In [34]:
x=4
>>> 16*x

64

In [44]:
>>> 30 *'SA'

'SASASASASASASASASASASASASASASASASASASASASASASASASASASASASASA'

In [67]:
>>> s1 = 'ant'
>>> s2 = 'bat'
>>> s3 = 'cod'
 
    
>>> s1 + ' ' + s2 + ' '+ s3

'ant bat cod'

In [69]:
>>> s1 = 'ant'
>>> s2 = 'bat'
>>> s3 = 'cod'

>>> ' ant ' * 8

' ant  ant  ant  ant  ant  ant  ant  ant '

In [73]:
>>> s1 = 'ant'
>>> s2 = 'bat'
>>> s3 = 'cod'

>>> s1 + ' ' + s2 + ' ' + s2 + ' '+ (s3 + ' ' ) * 3

'ant bat bat cod cod cod '

In [75]:
>>> s1 = 'ant'
>>> s2 = 'bat'
>>> s3 = 'cod'

>>> ( s1 + ' '+ s2 + ' ') * 7

'ant bat ant bat ant bat ant bat ant bat ant bat ant bat '

In [90]:
>>> s1 = 'ant'
>>> s2 = 'bat'
>>> s3 = 'cod'

>>> (s2 + ' ' + s2 + ' ' + s3 + ' '  ) * 7

'bat bat cod bat bat cod bat bat cod bat bat cod bat bat cod bat bat cod bat bat cod '

In [82]:
s= '1mohsin'
>>> s[4]

's'

In [83]:
s = ' muhammad mohsin alam '
s[5]

'm'

In [89]:
pets =['goldfish','lion','cat',' dog']
>>> pets + pets

['goldfish', 'lion', 'cat', ' dog', 'goldfish', 'lion', 'cat', ' dog']

In [97]:
pets =['goldfish','lion','cat',' dog']
>>> 'rabbits' in pets

False

In [102]:
lst=[23,34,45,56,67,78,89]
>>> min(lst)
>>> max(lst)

89

In [121]:
2.0**(-1024)

5.562684646268003e-309

In [129]:
days = ['mo','tu','we',]
>>> week = days + ['th','fr','st']
>>> week

['mo', 'tu', 'we', 'th', 'fr', 'st']

In [132]:
>>> a = 3
>>> b = 4 
>>> c = a * a + b * b
c

25

In [141]:
my_list = ['asad','osama','amir','fazal','haris']
>>> my_list.append('iqra,sara')
>>> my_list

['asad', 'osama', 'amir', 'fazal', 'haris', 'iqra,sara']

In [143]:
my_list = ['asad','osama','amir','fazal','haris']
>>> my_list.remove('amir')
>>> my_list

['asad', 'osama', 'fazal', 'haris']

In [145]:
my_list = ['asad','osama','amir','fazal','haris']
>>> my_list.sort()
>>> my_list

['amir', 'asad', 'fazal', 'haris', 'osama']

In [150]:
my_list = ['asad','osama','amir','fazal','haris']
>>> my_list.pop()
>>> my_list

['asad', 'osama', 'amir', 'fazal']

In [159]:
my_list = ['asad','osama','amir','fazal','haris']
>>> my_list.insert(4 ,32)
>>> my_list

['asad', 'osama', 'amir', 'fazal', 32, 'haris']

In [160]:
my_list = ['asad','osama','amir','fazal','haris']
>>> my_list.count('amir')

1

In [161]:
>>> 3 <= 3 < 4

True

In [1]:
grades=['1','2','3','4','5','4','7','7','4']
>>> grades.count(7)

0

In [3]:
grades=['1','2','3','4','5','4','7','7','4']
>>> grades.sort()
grades

['1', '2', '3', '4', '4', '4', '5', '7', '7']

In [5]:
grades=['1','2','3','4','5','4','7','7','4']
>>> grades[-1]

'4'

In [6]:
grades=['1','2','3','4','5','4','7','7','4']
>>> min(grades)
grades

['1', '2', '3', '4', '5', '4', '7', '7', '4']

In [13]:
>>> (4 / 2) in (1,2,3)

True

In [18]:
>>> (-7)+(-1)

-8